body	{
	background-image: url("../images/possible6.jpeg");
	min-height: 500px;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
div	{
	background-color: opaque;
}
.jumbotron {
	background-color: grey;
} 

